%tr
  - licensed =  Octokit.contents(repo).any? { |f| f['name'] == 'LICENSE.txt' || f['name'] == 'LICENSE' }
  %td{class: licensed ? 'true' : 'false'}
    = licensed
  %td
    = link_to repo.split('/')[-1], "https://github.com/#{repo}"
  %td
    - if !licensed
      = link_to '+', "https://github.com/#{repo}/new/master?filename=LICENSE", target: '_blank' #'/add?repo=#{repo}'
    - else
      = ' '
